@import 'styles/normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.toggleNav {
  display: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border: 0;
}

section,
footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.plan ul li:last-child {
  border-bottom: 0;
}

.plan a {
  text-decoration: none;
  background: #feff00;
  padding: 10px;
  color: black;
  border-radius: 4px;
}

.plan h2 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.price {
  font-size: 50px;
  font-family: serif;
  margin: 10px 0;
}

.pricing-grid {
  display: flex;
  align-items: center;

  max-width: 750px;
  margin: 0 auto;

  border: 1px solid red;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  flex: 1;
  margin: 1rem;
  padding: 1rem;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.plan > * {
  flex: 1 1 100%;
}

.plan .cta {
  align-self: flex-end;
}
