@import 'styles/normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
}

.box {
  color: hsl(0, 0, 100%);

  font-size: 2rem;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.box1 {
  background-color: hsl(0, 0, 95%);
}
.box2 {
  background-color: hsl(0, 0, 90%);
}
.box3 {
  background-color: hsl(0, 0, 85%);
}
.box4 {
  background-color: hsl(0, 0, 80%);
}
.box5 {
  background-color: hsl(0, 0, 75%);
}
.box6 {
  background-color: hsl(0, 0, 70%);
}
.box7 {
  background-color: hsl(0, 0, 65%);
}
.box8 {
  background-color: hsl(0, 0, 60%);
}
.box9 {
  background-color: hsl(0, 0, 55%);
}
.box10 {
  background-color: hsl(0, 0, 50%);
}

// Flexbox!

.container {
  display: flex;
  border: 10px solid goldenrod;
}
/*
.box {
  // flex: 1;

  // * When we have extra space, how much extra should this item take?
  flex-grow: 1;

  // *
  // flex-shrink: ;

  // *
  // flex-basis: ;
}
*/

.box1 {
  // flex-basis: 400px;
  // flex-grow: 10;
  // flex-shrink: 10;
  flex: 10 5 400px;
}

.box2 {
  // flex-basis: 400px;
  // flex-grow: 1;
  flex: 1 1 400px;
}

/*
  * Flex
    - flex: grow shrink basis;
    - Shorthand for the three properties
  * Flex Grow
    - Default Flex grow is 0
    - Flex Grow says, "how much of the available extra space should I take up?"
  * Flex Shrink
    - Default is 1
    - Flex Shrink says, "How do we shrink down when the space we need is not available?"
  * Flex Basis
    - Default is auto
    - Flex Basis says, "What is the ideal amount of space I will take up?"

*/
